.fa-telegram{
    color:firebrick;
    transition:1s;
}
.fa-telegram:hover{
    
    color:rgb(75,125,176);
}
.toolTip{
    position:relative;
}
.toolTip>span{
    background:radial-gradient(circle,#cb831f,#940b16);
    padding:20px;
    border-radius:5px;
    box-shadow:0px 6px 8px #ccc;
    position:absolute;
    top:50px;
    left:150px;
    display:none;
}
.toolTip:hover span{
    display:block;
}
.toolTip>span::before{
    content: "";
    border:10px;
    border-color: transparent #38ef7d transparent transparent;
    border-style: solid;
    position: absolute;
    left: -20px;
}

.fa-film{
    color:yellow;
    transition:1s;
}
.fa-film:hover{
    
    color:rgb(75,125,176);
}
.toolTip{
    position:relative;
}
.toolTip>span{
    background:radial-gradient(circle,#cb831f,#940b16);
    padding:20px;
    border-radius:5px;
    box-shadow:0px 6px 8px rgb(54, 45, 45);
    position:absolute;
    top:50px;
    left:150px;
    display:none;
}
.toolTip:hover span{
    display:block;
}
.toolTip>span::before{
    content: "";
    border:10px;
    border-color: transparent #38ef7d transparent transparent;
    border-style: solid;
    position: absolute;
    left: -20px;
}